:root {
  --primary-font: "Roboto", sans-serif;
  --secondery-font: "Raleway", sans-serif;
  --primary-text-color: #212121;
  --logo-color-text: #000000;
  --secondery-text-color: #757575;
  --white-text-color: #ffffff;
  --accent-color: #2196f3;
  --button-color-accent: #188ce8;
  --button-color: #ffffff;
  --contact-color: rgba(255, 255, 255, 0.6);
  --hero-color-bg: #c4c4c4;
  --page-bg-color: #ffffff;
  --team-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --border-color-white: #eeeeee;
  --button-filter-bg-color: #f5f4fa;
  --logo-accent-color: #00f8d0;
  --hedaer-line-color: #ececec;
  --feature-icon-bg-color: #f5f4fa;
  --modal-input-color-: #555555;
  --social-link-color: #afb1b8;
  --social-link-bg-color: rgba(255, 255, 255, 0.1);
  --gap-size: 30px;
  --transition-fill: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-color: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-opacity: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-transform: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-background-color: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-border: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-border-color: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-box-shadow: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  height: 1px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--page-bg-color);
  color: var(--primary-text-color);
  font-family: var(--primary-font);
  max-height: 100vh;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.logo {
  color: var(--logo-color-text);
  font-family: var(--secondery-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  transition: var(--transition-color);
}
@media screen and (min-width: 480px) {
  .logo {
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .logo {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
.logo:hover, .logo:focus {
  color: var(--logo-accent-color);
  outline: transparent;
}

.logo__colorized {
  color: var(--accent-color);
  transition: var(--transition-color);
}
.logo:hover .logo__colorized, .logo:focus .logo__colorized, .footer__logo:hover .logo__colorized, .footer__logo:focus .logo__colorized {
  color: var(--logo-accent-color);
  outline: transparent;
}

.footer__logo {
  display: inline-block;
  padding: 0;
  margin-bottom: 20px;
  color: var(--white-text-color);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 32px;
  min-width: 200px;
  max-height: 50px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  font-family: inherit;
  color: var(--button-color);
  background-color: var(--accent-color);
  cursor: pointer;
  transition: var(--transition-background-color);
}
.button:hover, .button:focus {
  background-color: var(--button-color-accent);
  outline: transparent;
}

.modal__button {
  margin-left: auto;
  margin-right: auto;
}

.singup__button {
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 28px;
}

.title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.pre-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.pre-title--color-black {
  color: var(--primary-text-color);
}
.pre-title--color-white {
  color: var(--white-text-color);
}

.social__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border: 0;
  border-radius: 50%;
  transition: var(--transition-color), var(--transition-background-color);
  color: var(--social-link-color);
  background-color: var(--page-bg-color);
}
.social__link:hover, .social__link:focus {
  color: var(--button-color);
  background-color: var(--accent-color);
  outline: transparent;
}

.footer__social-link {
  color: var(--button-color);
  background-color: var(--social-link-bg-color);
}

.social__logo {
  fill: currentcolor;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-no-padding {
  padding-top: 0;
}

.container {
  width: 100%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition: var(--transition-transform), var(--transition-opacity);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transform: scale(1);
  transition: var(--transition-transform), var(--transition-opacity);
}
.backdrop.is-hidden .modal__window {
  transform: scale(1) translate(-50%, -50%);
  transition: var(--transition-transform), var(--transition-opacity);
}

.modal__window {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 290px;
  padding: 20px;
  background-color: var(--page-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 480px) {
  .modal__window {
    min-width: 450px;
    padding: 40px;
  }
}
@media screen and (min-width: 768px) {
  .modal__window {
    padding: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .modal__window {
    width: 528px;
    height: 581px;
    padding: 40px;
  }
}

.modal__title {
  display: block;
  align-items: center;
  text-align: center;
  margin-bottom: 12px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 15px;
  line-height: 1;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
@media screen and (min-width: 480px) {
  .modal__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 1200px) {
  .modal__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
  }
}

.modal__form {
  height: 100%;
  width: 100%;
}

.modal__input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 12px 12px 12px 42px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--modal-input-color-);
  transition: var(--transition-border-color);
}
.modal__input:hover, .modal__input:focus {
  outline: transparent;
  border-color: var(--accent-color);
}
.modal__field:hover + .modal__input, .modal__field:focus + .modal__input {
  border-color: var(--accent-color);
}

.wrap {
  position: relative;
}

.wrap__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translatey(-50%);
  transition: var(--transition-fill);
}
.modal__input:hover + .wrap__icon, .modal__input:focus + .wrap__icon {
  fill: var(--accent-color);
}

.modal__label {
  display: block;
  margin-bottom: 4px;
  padding: 0;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondery-text-color);
}

.modal__field {
  margin-bottom: 10px;
}

.modal__field-text {
  margin-bottom: 20px;
}

.modal__text {
  width: 100%;
  height: 60px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgb(117, 117, 117);
  transition: var(--transition-border-color);
}
@media screen and (min-width: 480px) {
  .modal__text {
    height: 120px;
  }
}
@media screen and (min-width: 768px) {
  .modal__text {
    height: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .modal__text {
    height: 120px;
  }
}
.modal__text:focus, .modal__text:hover {
  border-color: var(--accent-color);
}
.modal__text::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__label:focus .modal__text {
  border: 1px solid var(--accent-color);
  outline: transparent;
  font-family: inherit;
  opacity: 1;
}

.modal__group {
  margin-bottom: 30px;
}

.check {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  font-size: 8px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--secondery-text-color);
  margin: 0;
  padding: 0;
  transition: var(--transition-color);
}
@media screen and (min-width: 480px) {
  .check {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 768px) {
  .check {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 1200px) {
  .check {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}
.check .check__icon {
  display: inline-block;
  fill: transparent;
  transition: var(--transition-fill);
}
.check:checked + .check .check__icon {
  fill: var(--white-text-color);
  transition: var(--transition-fill);
}
.check .check__offer {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 8px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.check .check__offer::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  bottom: 1px;
  background-color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .check .check__offer::after {
    bottom: 5px;
  }
}
@media screen and (min-width: 1200px) {
  .check .check__offer::after {
    bottom: 4px;
  }
}
@media screen and (min-width: 480px) {
  .check .check__offer {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 768px) {
  .check .check__offer {
    font-size: 12px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 1200px) {
  .check .check__offer {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}
.check span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  transition: var(--transition-color);
}
.check:checked + .check span {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}
.check:focus + .check span {
  border-color: var(--accent-color);
}
.check:hover + .check span {
  border-color: var(--accent-color);
}

.modal__close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  width: 30px;
  height: 30px;
  color: var(--logo-color-text);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: var(--transition-fill), var(--transition-border);
  border-radius: 50%;
  cursor: pointer;
  outline: transparent;
}
.modal__close:hover, .modal__close:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.filter {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  gap: 8px;
  row-gap: 15px;
  max-width: 326px;
}
@media screen and (min-width: 480px) {
  .filter {
    max-width: 326px;
  }
}
@media screen and (min-width: 768px) {
  .filter {
    justify-content: center;
    max-width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .filter {
    justify-content: center;
    max-width: 100%;
  }
}

.filter--bottom {
  margin-bottom: 50px;
}

.filter__button {
  text-align: center;
  padding: 6px 10px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--button-filter-bg-color);
  font-family: inherit;
  cursor: pointer;
  outline: transparent;
  transition: var(--transition-color), var(--transition-background-color), var(--transition-box-shadow);
}
@media screen and (min-width: 480px) {
  .filter__button {
    padding: 6px 22px;
  }
}
@media screen and (min-width: 768px) {
  .filter__button {
    padding: 6px 22px;
  }
}
@media screen and (min-width: 1200px) {
  .filter__button {
    padding: 6px 22px;
  }
}
.filter__button:hover, .filter__button:focus {
  color: var(--button-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter__button--curent-color {
  color: var(--button-color);
  background-color: var(--accent-color);
}

.overlay {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.overlay__hidden {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translatey(101%);
  transition: var(--transition-transform);
  color: var(--white-text-color);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}
.cards__link:hover .overlay__hidden, .cards__link:focus .overlay__hidden {
  transform: translatey(0);
}

.header {
  display: flex;
  align-items: center;
  min-height: 60px;
  border-bottom: 1px solid #ececec;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navigation__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .navigation__list {
    display: flex;
    margin-left: 87px;
    gap: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation__list {
    display: flex;
    margin-left: 93px;
    gap: 50px;
  }
}

.navigation__link {
  display: block;
  padding: 32px 0;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: var(--transition-color);
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-color);
}
.navigation__link.curent::after {
  position: absolute;
  content: "";
  height: 4px;
  bottom: -2%;
  opacity: 1;
  transform: scale(1);
  border-radius: 2px;
}
.navigation__link::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  bottom: -2%;
  background-color: var(--accent-color);
  border-radius: 2px;
  opacity: 0;
  transform: scale(0);
  transition: var(--transition-opacity), var(--transition-transform);
}
.navigation__link:hover::after, .navigation__link:focus::after {
  opacity: 1;
  transform: scale(1);
}

.connect {
  display: none;
}
@media screen and (min-width: 768px) {
  .connect {
    display: block;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .connect {
    display: flex;
    align-items: center;
    gap: var(--gap-size);
  }
}

.heder__connect {
  margin-left: auto;
}

.connect__link {
  display: flex;
  align-items: center;
  color: var(--secondery-text-color);
  transition: var(--transition-color);
}
.connect__link:hover, .connect__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .connect__item:first-child .connect__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    padding-top: 21px;
    padding-bottom: 5px;
  }
}
@media screen and (min-width: 1200px) {
  .connect__item:first-child .connect__link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 768px) {
  .connect__item:last-child .connect__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    padding-top: 5px;
    padding-bottom: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .connect__item:last-child .connect__link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.connect__icon {
  display: inline-block;
  fill: var(--secondery-text-color);
  margin-right: 10px;
  transition: var(--transition-fill);
}
.connect__link:hover .connect__icon, .connect__link:focus .connect__icon {
  fill: var(--accent-color);
}

.menu-open {
  display: flex;
  padding: 0;
  margin-left: auto;
  border: none;
  background-color: transparent;
  align-items: center;
}
.menu-open:hover, .menu-open:focus {
  fill: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .menu-open {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .menu-open {
    display: none;
  }
}

.menu-icon--open {
  align-items: center;
}

.mob-menu {
  position: fixed;
  z-index: 1;
  background-color: #ffffff;
}
.mob-menu.is-open {
  opacity: 0;
  pointer-events: none;
  transform: translateX(100%);
  transition: var(--transition-transform), var(--transition-opacity);
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .mob-menu {
    display: none;
  }
}

.menu-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  padding: 48px;
  transition: var(--transition-transform), var(--transition-opacity);
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .menu-container {
    display: none;
  }
}

.menu-close {
  position: absolute;
  top: 10px;
  right: 15px;
  display: flex;
  padding: 0;
  margin-left: auto;
  border: none;
  background-color: transparent;
}
.menu-close:hover, .menu-close:focus {
  fill: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .menu-close {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .menu-close {
    display: none;
  }
}

.content-menu {
  display: flex;
  flex-direction: column;
  height: 100vw;
  justify-content: space-between;
}

.navigation-menu__item + .navigation-menu__item {
  margin-top: 32px;
}

.navigation-menu__link {
  display: block;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  transition: var(--transition-color);
}
.navigation-menu__link:hover, .navigation-menu__link:focus {
  color: var(--accent-color);
}

.contacts-menu {
  display: block;
}

.connect-menu {
  margin-bottom: 64px;
}

.connect-menu__item + .connect-menu__item {
  margin-top: 32px;
  transition: var(--transition-color);
}
.connect-menu__item:hover, .connect-menu__item:focus {
  color: var(--accent-color);
}

.connect-menu__link {
  display: block;
  color: var(--primary-text-color);
  transition: var(--transition-color);
  font-weight: 500;
  font-size: 25px;
  line-height: 1.18;
  letter-spacing: 0.02em;
}
.connect-menu__link--blue {
  color: var(--accent-color);
}
@media screen and (min-width: 480px) {
  .connect-menu__link {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 768px) {
  .connect-menu__link {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .connect-menu__link {
    display: none;
  }
}
.connect-menu__link:hover, .connect-menu__link:focus {
  color: var(--accent-color);
}

.social-menu__item {
  color: var(--accent-color);
}

.social-menu__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  row-gap: 15px;
}
@media screen and (min-width: 480px) {
  .social-menu__list {
    gap: 10px;
  }
}

.social-menu__link {
  color: var(--accent-color);
  padding-right: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  transition: var(--transition-color);
}
@media screen and (min-width: 480px) {
  .social-menu__link {
    flex-wrap: nowrap;
    color: var(--accent-color);
  }
}
@media screen and (min-width: 768px) {
  .social-menu__link {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .social-menu__link {
    display: none;
  }
}
.social-menu__link:hover, .social-menu__link:focus {
  color: var(--primary-text-color);
}

.navigation__item {
  position: relative;
}

.curent {
  color: var(--accent-color);
}

.hero {
  text-align: center;
  padding: 118px 0;
}
@media screen and (min-width: 480px) {
  .hero {
    text-align: center;
    padding: 118px 0;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    text-align: center;
    padding: 118px 0;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    text-align: center;
    padding: 200px 0;
  }
}

.hero__title {
  display: inline-block;
  text-align: center;
  max-width: 320px;
  margin-bottom: 30px;
  color: var(--white-text-color);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 20px;
  line-height: 1.62;
  letter-spacing: 0.06em;
}
@media screen and (min-width: 480px) {
  .hero__title {
    min-width: 360px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 768px) {
  .hero__title {
    width: 360px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    min-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.hero__button {
  margin: 0 auto;
}

.hero-bg-img {
  max-width: 480px;
  max-height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--hero-color-bg);
  background-image: linear-gradient(rgba(0, 91, 187, 0.7), rgba(255, 213, 0, 0.7)), url(../images/studio/hero/hero-mobile.jpg);
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-bg-img {
    max-width: 480px;
    max-height: 400px;
    background-image: linear-gradient(rgba(0, 91, 187, 0.7), rgba(255, 213, 0, 0.7)), url(../images/studio/hero/hero-mobile-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero-bg-img {
    max-width: 768px;
    background-image: linear-gradient(rgba(0, 91, 187, 0.7), rgba(255, 213, 0, 0.7)), url(../images/studio/hero/hero-tab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-bg-img {
    max-width: 768px;
    background-image: linear-gradient(rgba(0, 91, 187, 0.7), rgba(255, 213, 0, 0.7)), url(../images/studio/hero/hero-tab-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero-bg-img {
    max-width: 1600px;
    max-height: 600px;
    background-image: linear-gradient(rgba(0, 91, 187, 0.7), rgba(255, 213, 0, 0.7)), url(../images/studio/hero/hero-desktop.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-bg-img {
    max-width: 1600px;
    max-height: 600px;
    background-image: linear-gradient(rgba(0, 91, 187, 0.7), rgba(255, 213, 0, 0.7)), url(../images/studio/hero/hero-desktop-2x.jpg);
  }
}

.feature__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap-size);
}

.feature__item {
  flex-basis: 100%;
}
@media screen and (min-width: 480px) {
  .feature__item {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .feature__item {
    flex-basis: calc((100% - var(--gap-size)) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .feature__item {
    flex-basis: calc((100% - var(--gap-size) * 3) / 4);
  }
}

.feature__tumb {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--feature-icon-bg-color);
  border-radius: 4px;
}

.pre-title--bottom {
  margin-bottom: 10px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .pre-title--bottom {
    text-align: left;
  }
}

.feature__text {
  color: var(--secondery-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 480px) {
  .feature__text {
    text-align: left;
  }
}

.practice {
  display: none;
}
@media screen and (min-width: 1200px) {
  .practice {
    display: inherit;
  }
}

.practice__title--bottom {
  margin-bottom: 50px;
}

.practice__list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-size);
}

.practice__item {
  flex-basis: calc((100% - var(--gap-size) * 2) / 3);
  position: relative;
}
.practice__item::before {
  position: absolute;
  content: "";
  display: flex;
  height: 70px;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.thumb__text {
  position: absolute;
  bottom: 27px;
  left: 50%;
  transform: translate(-50%);
}

.practice__pre-title--position-center {
  text-align: center;
}

.team {
  background-color: var(--team-bg-color);
}

.team__title--bottem {
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team__title--bottem {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap-size);
}

.team__item {
  background-color: var(--page-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
  flex-basis: 100%;
}
@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc((100% - var(--gap-size)) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc((100% - var(--gap-size) * 3) / 4);
  }
}

.team__img {
  max-width: 100%;
}
@media screen and (min-width: 480px) {
  .team__img {
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .team__img {
    min-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team__img {
    min-width: 270px;
  }
}

.team__thumb {
  padding: 30px 0 24px;
  max-width: 100%;
}
@media screen and (min-width: 480px) {
  .team__thumb {
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .team__thumb {
    max-width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .team__thumb {
    max-width: 100%;
    padding: 30px 0;
  }
}

.team__employee {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team__text {
  margin-bottom: 16px;
  text-align: center;
  color: var(--secondery-text-color);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.clients__title--bottom {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .clients__title--bottom {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}

.company {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap-size);
}

.company__item {
  flex-basis: calc((100% - var(--gap-size)) / 2);
}
@media screen and (min-width: 768px) {
  .company__item {
    flex-basis: calc((100% - var(--gap-size) * 2) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .company__item {
    flex-basis: calc((100% - var(--gap-size) * 5) / 6);
  }
}

.company__link {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: transparent;
  min-height: 92px;
  color: var(--social-link-color);
  background-color: var(--page-bg-color);
  border: 1px solid var(--social-link-color);
  border-radius: 4px;
  transition: var(--transition-border), var(--transition-color);
}
.company__link:hover, .company__link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.company__logo {
  fill: currentColor;
  transition: var(--transition-fill);
}
.clients-list-item:hover .company__logo, .clients-list-item:focus .company__logo {
  fill: var(--accent-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-bg-color);
}

.footer__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 60px;
}
@media screen and (min-width: 480px) {
  .footer__container {
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .footer__container {
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    align-items: baseline;
    flex-direction: row;
    gap: 0;
  }
}

@media screen and (min-width: 480px) {
  .footer__adress {
    min-width: 231px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__adress {
    text-align: left;
  }
}

.address__text {
  display: block;
  margin-bottom: 8px;
  color: var(--white-text-color);
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-style: normal;
  transition: var(--transition-color);
}
@media screen and (min-width: 1200px) {
  .address__text {
    margin-bottom: 9px;
  }
}
.address__text:hover, .address__text:focus {
  color: var(--accent-color);
}

.contact__list:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .contact__list:not(:last-child) {
    margin-bottom: 9px;
  }
}

.contact__item {
  color: var(--contact-color);
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-style: normal;
  transition: var(--transition-color);
}
.contact__item:hover, .contact__item:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .footer__thumb {
    margin-left: auto;
  }
}

.footer__pre-title_bottom {
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .footer__pre-title_bottom {
    text-align: left;
  }
}

.singup__area {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
@media screen and (min-width: 480px) {
  .singup__area {
    margin-left: auto;
    align-items: center;
    margin: auto;
  }
}
@media screen and (min-width: 768px) {
  .singup__area {
    gap: 20px;
  }
}

.singup__email {
  display: flex;
  align-items: center;
  min-width: 100%;
  height: 50px;
  padding: 15px 16px;
  outline: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  transition: var(--transition-border-color);
}
@media screen and (min-width: 1200px) {
  .singup__email {
    min-width: 358px;
  }
}
.singup__email:hover, .singup__email:focus {
  border-color: var(--accent-color);
}
.singup__email:not(:placeholder-shown):required:invalid {
  border-color: rgba(180, 0, 0, 0.5);
}

.singup__button-svg {
  margin-left: 10px;
  fill: var(--button-color);
}

.portfolio {
  background-color: var(--page-bg-color);
}

.cards__list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-size);
}

.cards__item {
  background-color: var(--page-bg-color);
  flex-basis: 100%;
}
@media screen and (min-width: 480px) {
  .cards__item {
    flex-basis: 100%;
  }
}
@media screen and (min-width: 768px) {
  .cards__item {
    flex-basis: calc((100% - var(--gap-size)) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .cards__item {
    flex-basis: calc((100% - var(--gap-size) * 2) / 3);
  }
}

.cards-img {
  max-width: 100%;
}
@media screen and (min-width: 480px) {
  .cards-img {
    min-width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .cards-img {
    min-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .cards-img {
    min-width: 370px;
  }
}

.cards__link {
  display: block;
  color: var(--primary-text-color);
  cursor: pointer;
  transition: var(--transition-box-shadow);
}
.cards__link:hover, .cards__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  outline: transparent;
}

.cards__info {
  max-width: 100%;
  min-height: 100%;
  padding: 20px 24px;
  border-width: 0 1px 1px;
  border-style: solid;
  border-color: var(--border-color-white);
  border-top: 0;
  max-width: 100%;
}
@media screen and (min-width: 480px) {
  .cards__info {
    min-height: 100%;
  }
}
@media screen and (min-width: 768px) {
  .cards__info {
    min-height: 146px;
  }
}
@media screen and (min-width: 1200px) {
  .cards__info {
    min-height: 100%;
  }
}

.cards__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.cards__text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondery-text-color);
}/*# sourceMappingURL=main.css.map */