.filter {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  gap: 8px;
  row-gap: 15px;
  max-width: 326px;

  @include mobile {
    max-width: 326px;
  }
  @include tablet {
    justify-content: center;
    max-width: 100%;
  }
  @include desktop {
    justify-content: center;
    max-width: 100%;
  }
}
.filter__item {
  @include mobile {
  }
  @include tablet {
  }
  @include desktop {
  }
}

.filter--bottom {
  margin-bottom: 50px;
}

.filter__button {
  text-align: center;
  padding: 6px 10px;
  border: none;
  border-radius: 4px;
  @include font(500, 16, 1.63, 0.03);
  color: var(--primary-text-color);
  background-color: var(--button-filter-bg-color);
  font-family: inherit;
  cursor: pointer;
  outline: transparent;
  transition: var(--transition-color), var(--transition-background-color),
    var(--transition-box-shadow);
  @include mobile {
    padding: 6px 22px;
  }
  @include tablet {
    padding: 6px 22px;
  }
  @include desktop {
    padding: 6px 22px;
  }
  &:hover,
  &:focus {
    color: var(--button-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

// .filter__item + .filter__item {
//   margin-left: 8px;
// }

.filter__button--curent-color {
  color: var(--button-color);
  background-color: var(--accent-color);
}
