html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--page-bg-color);
  color: var(--primary-text-color);
  font-family: var(--primary-font);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}
