.feature__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap-size);
}

.feature__item {
  flex-basis: calc((100% - var(--gap-size) * 3) / 4);
}

.feature__tumb {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--feature-icon-bg-color);
  border-radius: 4px;
}

.pre-title--bottom {
  margin-bottom: 10px;
}

.feature__text {
  min-width: 270px;
  @include font(null, 14, 1.14, 0.03);
  color: var(--secondery-text-color);
}
