.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-bg-color);
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.address__text {
  display: block;
  margin-bottom: 9px;
  width: 231px;
  color: var(--white-text-color);
  @include font(null, 14, 1.71, 0.03);
  font-style: normal;
  transition: var(--transition-color);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contact__list:not(:last-child) {
  margin-bottom: 9px;
}

.contact__item {
  color: var(--contact-color);
  @include font(null, 14, 1.71, 0.03);
  font-style: normal;
  transition: var(--transition-color);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer__thumb {
  margin-left: auto;
}

.footer__pre-title_bottom {
  margin-bottom: 20px;
}

.singup__area {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.singup__email {
  display: flex;
  align-items: center;
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  outline: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  @include font(null, 16, 1.25, 0.03);
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  transition: var(--transition-border-color);
  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
  &:not(:placeholder-shown):required:invalid {
    border-color: rgba(180, 0, 0, 0.5);
  }
}

.singup__button-svg {
  margin-left: 10px;
  fill: var(--button-color);
}
