.header {
  display: flex;
  align-items: center;
  min-height: 60px;
  border-bottom: 1px solid #ececec;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navigation__list {
  display: none;

  @include mobile {
  }

  @include tablet {
    display: flex;
    margin-left: 87px;
    gap: 50px;
  }

  @include desktop {
    display: flex;
    margin-left: 93px;
    gap: 50px;
  }
}

.navigation__link {
  display: block;
  padding: 32px 0;
  color: var(--primary-text-color);
  @include font(500, 14, 1.14, 0.02);
  transition: var(--transition-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  &.curent::after {
    position: absolute;
    content: '';
    height: 4px;
    bottom: -2%;
    opacity: 1;
    transform: scale(1);
    border-radius: 2px;
  }

  &::after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    bottom: -2%;
    background-color: var(--accent-color);
    border-radius: 2px;
    opacity: 0;
    transform: scale(0);
    transition: var(--transition-opacity), var(--transition-transform);
  }

  &:hover::after,
  &:focus::after {
    opacity: 1;
    transform: scale(1);
  }
}

.connect {
  display: none;

  @include mobile {
    display: none;
  }

  @include tablet {
    display: block;

    align-items: center;
  }

  @include desktop {
    display: flex;
    align-items: center;
    gap: var(--gap-size);
  }
}

.heder__connect {
  margin-left: auto;
}

.connect__link {
  display: flex;
  align-items: center;
  padding: 5px 0;
  color: var(--secondery-text-color);
  transition: var(--transition-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @include mobile {
  }

  @include tablet {
    @include font(500, 12, 1.17, 0.02);
  }

  @include desktop {
    @include font(500, 14, 1.14, 0.02);
  }
}

.connect__icon {
  display: inline-block;
  fill: var(--secondery-text-color);
  margin-right: 10px;
  transition: var(--transition-fill);

  .connect__link:hover &,
  .connect__link:focus & {
    fill: var(--accent-color);
  }
}

.menu-open {
  display: flex;
  padding: 0;
  margin-left: auto;
  border: none;
  background-color: transparent;
  align-items: center;

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }

  @include mobile {
  }

  @include tablet {
    display: none;
  }

  @include desktop {
    display: none;
  }
}

.menu-icon--open {
  align-items: center;
}

.mob-menu {
  position: fixed;
  z-index: 1;
  background-color: #ffffff;

  &.is-open {
    opacity: 0;
    pointer-events: none;
    transform: translateX(100%);
    transition: var(--transition-transform), var(--transition-opacity);
  }
  @include tablet {
    display: none;
  }
  @include desktop {
    display: none;
  }
}

.menu-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  padding: 48px;
  transition: var(--transition-transform), var(--transition-opacity);
  @include tablet {
    display: none;
  }
  @include desktop {
    display: none;
  }
}

.menu-close {
  position: absolute;
  top: 10px;
  right: 15px;
  display: flex;
  padding: 0;
  margin-left: auto;
  border: none;
  background-color: transparent;

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }

  @include mobile {
  }

  @include tablet {
    display: none;
  }

  @include desktop {
    display: none;
  }
}

.content-menu {
  display: flex;
  flex-direction: column;
  height: 100vw;
  justify-content: space-between;
}

.navigation-menu__item {
  + .navigation-menu__item {
    margin-top: 32px;
  }
}

.navigation-menu__link {
  display: block;
  color: var(--primary-text-color);
  @include font(500, 40, 1.18, 0.02);
  transition: var(--transition-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contacts-menu {
  display: block;
}

.connect-menu {
  margin-bottom: 64px;
}

.connect-menu__item {
  + .connect-menu__item {
    margin-top: 32px;
    transition: var(--transition-color);
  }
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.connect-menu__link {
  display: block;
  color: var(--primary-text-color);
  transition: var(--transition-color);
  @include font(500, 25, 1.18, 0.02);
  &--blue {
    color: var(--accent-color);
  }
  @include mobile {
    @include font(500, 34, 1.18, 0.02);
  }
  @include tablet {
    display: none;
  }

  @include desktop {
    display: none;
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.social-menu__item {
  color: var(--accent-color);
}

.social-menu__list {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.social-menu__link {
  color: var(--accent-color);
  padding-right: 10px;
  @include font(500, 11, 1.22, 0.02);
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  transition: var(--transition-color);

  @include mobile {
    color: var(--accent-color);
    @include font(500, 18, 1.22, 0.02);
  }
  @include tablet {
    display: none;
  }

  @include desktop {
    display: none;
  }
  &:hover,
  &:focus {
    color: var(--primary-text-color);
  }
}

.navigation__item {
  position: relative;
}

.curent {
  color: var(--accent-color);
}
