.header {
  border-bottom: 1px solid #ececec;
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation__list {
  display: none;
  @include mobile {
    display: none;
  }
  @include tablet {
    display: flex;
    margin-left: 87px;
    gap: 50px;
  }
  @include desktop {
    display: flex;
    margin-left: 93px;
    gap: 50px;
  }
}

.navigation__link {
  display: block;
  padding: 32px 0;
  color: var(--primary-text-color);
  @include font(500, 14, 1.14, 0.02);
  transition: var(--transition-color);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  &.curent::after {
    position: absolute;
    content: '';
    height: 4px;
    bottom: -2%;
    opacity: 1;
    transform: scale(1);
    border-radius: 2px;
  }
  &::after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    bottom: -2%;
    background-color: var(--accent-color);
    border-radius: 2px;
    opacity: 0;
    transform: scale(0);
    transition: var(--transition-opacity), var(--transition-transform);
  }
  &:hover::after,
  &:focus::after {
    opacity: 1;
    transform: scale(1);
  }
}

.connect {
  display: none;
  @include mobile {
    display: none;
  }
  @include tablet {
    display: block;

    align-items: center;
  }
  @include desktop {
    display: flex;
    align-items: center;
    gap: var(--gap-size);
  }
}

.connect__item {
}

.heder__connect {
  margin-left: auto;
}

.connect__link {
  display: flex;
  align-items: center;
  padding: 5px 0;
  color: var(--secondery-text-color);
  transition: var(--transition-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @include mobile {
  }
  @include tablet {
    @include font(500, 12, 1.17, 0.02);
  }
  @include desktop {
    @include font(500, 14, 1.14, 0.02);
  }
}

.connect__icon {
  display: inline-block;
  fill: var(--secondery-text-color);
  margin-right: 10px;
  transition: var(--transition-fill);
  .connect__link:hover &,
  .connect__link:focus & {
    fill: var(--accent-color);
  }
}

.menu-open {
  display: flex;
  margin-left: auto;
  border: none;
  background-color: transparent;
  align-items: center;
}
.menu-icon--open {
  align-items: center;
}

.mob-menu {
  position: fixed;
  opacity: 0;
  z-index: 2;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  top: 0;
  padding-top: 48px;
  padding-bottom: 48px;
  > .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    overflow: auto;
  }
}
.menu-close {
  display: block;
  margin-left: auto;
  margin-bottom: 30px;
}
.mob-menu-nav {
}
.mob-menu-list {
}

.mob-menu-item:not(:last-child) {
  margin-bottom: 24px;
}

.mob-menu-link {
  font-weight: 600;
  font-size: 18px;
  line-height: calc(25 / 18);
  letter-spacing: 0.1em;
  color: #303030;
}

.mob-connect {
  margin-bottom: 64px;
}
.mob-connect-tel {
  font-weight: 600;
  font-size: 18px;
  line-height: calc(25 / 18);
  letter-spacing: 0.1em;
  color: #303030;
}
.mob-connect-btn {
  display: block;
  margin-top: 24px;
}

.mob-soc-list {
  padding-left: 100px;
  position: relative;
}

.mob-soc-list::before {
  content: '';
  width: 60px;
  height: 1px;
  position: absolute;
  background-color: #303030;
  left: 0;
  top: 9px;
}

.mob-soc-item:not(:last-child) {
  margin-bottom: 24px;
}
.mob-soc-link {
  font-weight: 600;
  font-size: 14px;
  line-height: calc(19 / 14);
  letter-spacing: 0.2em;

  color: #303030;
}

.navigation__item {
  position: relative;
}

.curent {
  color: var(--accent-color);
}
