.hero {
  text-align: center;
  padding: 118px 0;
  @include mobile {
    text-align: center;
    padding: 118px 0;
  }
  @include tablet {
    text-align: center;
    padding: 118px 0;
  }
  @include desktop {
    text-align: center;
    padding: 200px 0;
  }
}

.hero__title {
  display: inline-block;
  text-align: center;
  max-width: 320px;
  margin-bottom: 30px;
  color: var(--white-text-color);
  text-transform: uppercase;
  @include font(900, 20, 1.62, 0.06);
  @include mobile {
    min-width: 360px;
    @include font(900, 26, 1.62, 0.06);
  }
  @include tablet {
    width: 360px;
    @include font(900, 26, 1.62, 0.06);
  }
  @include desktop {
    min-width: 696px;
    @include font(900, 44, 1.36, 0.06);
  }
}

.hero__button {
  margin: 0 auto;
}

.hero-bg-img {
  max-width: 480px;
  max-height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--hero-color-bg);
  background-image: linear-gradient(rgba(0, 91, 187, 0.7), rgba(255, 213, 0, 0.7)),
    url(../images/studio/hero/hero-mobile.jpg);
  @include retina {
    max-width: 480px;
    max-height: 400px;
    background-image: linear-gradient(rgba(0, 91, 187, 0.7), rgba(255, 213, 0, 0.7)),
      url(../images/studio/hero/hero-mobile-2x.jpg);
  }
  @include tablet {
    max-width: 768px;
    background-image: linear-gradient(rgba(0, 91, 187, 0.7), rgba(255, 213, 0, 0.7)),
      url(../images/studio/hero/hero-tab.jpg);
    @include retina {
      max-width: 768px;
      background-image: linear-gradient(rgba(0, 91, 187, 0.7), rgba(255, 213, 0, 0.7)),
        url(../images/studio/hero/hero-tab-2x.jpg);
    }
  }
  @include desktop {
    max-width: 1600px;
    max-height: 600px;
    background-image: linear-gradient(rgba(0, 91, 187, 0.7), rgba(255, 213, 0, 0.7)),
      url(../images/studio/hero/hero-desktop.jpg);
    @include retina {
      max-width: 1600px;
      max-height: 600px;
      background-image: linear-gradient(rgba(0, 91, 187, 0.7), rgba(255, 213, 0, 0.7)),
        url(../images/studio/hero/hero-desktop-2x.jpg);
    }
  }
}
